# Core Libraries
pandas
numpy
scikit-learn
DeepPurpose
descriptastorus

# Data Visualization
matplotlib
seaborn

# cheminformatics
rdkit
chembl_webresource_client

# FastAPI Backend
fastapi
uvicorn
python-multipart

# experiment tracking and pipeline versioning
mlflow
dvc

# Utils
joblib
tqdm
python-box
pyYaml
ensure
gdown

# working with jupyter notebooks
jupyter
notebook

# code formatting
black
isort
black[jupyter]

-e .